/*************************
GENERAL
*************************/
body {
  font-family: 'Ropa Sans', sans-serif;
}

#wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration-style: none;
}

a:link {
  text-decoration: none;
}

img {
  max-width: 100%;
  border: 0;
}

h3 {
  margin: 0 0 1em 0;
}

/*************************
HEADING
*************************/
header {
  float: center;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Maven pro', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
  color: #993300;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
  color: #993300;
}


/*****************************************
NAVIGATION
*****************************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
  color: #993300;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display:inline-block
}

nav a {
  font-weight: 400;
  padding: 15px 10px;
  color: #993300;
}


/*****************************************
FOOTER
*****************************************/

  footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #fff;
  }

  .social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }

/********************************************
**************CENTER IMAGE******************/
section#center_pic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px 0 10px;
}

section#nature img {
display: block;
float: left;
padding: 10px 0 10px 0;
}

section#nature p {
display: block
margin-left: auto;
margin-right: auto;
float: left;
}

section#people img {
float: center;
padding: -40px 0 10px 0;
}

section#people p {
float: center;
}



/*****************************************
PAGE HOME
*****************************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 25%;
  margin: 3.5%;
  background: #A34719;
  color: #D6AD99;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 1em;
}

/*******************
 PAGE ABOUT
*******************/


.profile-photo {
  display: block;
  max-width: 100px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

.girlfriend-photo {
  display: block;
  max-width: 150px;
  margin: 0 10px;
  border-radius: 100%;
}

.about p {
  text-align: center;
}

/*******************
 PAGE CONTACT
*******************/


.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}


.contact-info li.phone a {
   background-image: url('../imgs/phone.png');
}


.contact-info li.mail a {
   background-image: url('../imgs/mail.png');
}


.contact-info li.twitter a {
   background-image: url('../imgs/twitter.png');
}



/***************************************
COLORS
***************************************/


header {
  background: #A37519;
  border: #AD8533;
}

a:link {
  color: inherit;
}

nav a, nav a:visited {
  color: #993300;
}

nav a.selected, nav a:hover {
  color: #D6AD99;
}

body {
    background-image: url("https://lh6.googleusercontent.com/3AxkxTWvVcQk8-EjzuyuMR4W6Lx67EoB4ZN9gP26Abw=w536-h409-no");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 10px solid black;
    }





/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 10px solid #7A2900;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
